= form_for @user, url: {action: 'update'} do |f|
  = render partial: "errors"
  = render partial: "regform", locals: {f: f}
  
  %p To save changes, please enter 
  %span#current_password current password
  = f.password_field :current_password

  = f.submit

  = button_to "Delete my account", registration_path(resource_name), :id => "cancel-account", :data => { :confirm => "Are you sure? Your posts and comments will be deleted too!" }, :method => :delete