<h2>Listing posts</h2>
<div id="index_table">
  
  <% @users.each do |user| %>
    <% @posts.each do |post| %>
      
      <% if user.id == post.user_id %>

        <div id="home_index_text">
          <h1><strong><%= post.title[0..120]%></strong></h1>
        </div>

        <div id="home_index_text">
          <%= post.text[0..585] %> 
          <%= link_to 'show post', user_post_path(post.user_id, post.id) %>
        </div>

        <div id="home_index_information">

          <hr>

          <span class="post_show_author">
            <strong>Author: </strong><%= user.email %>
          </span>
          <span class="post_show_created_at">
            <strong>Created at: </strong>
            <%= user.created_at.strftime("%d %b. %Y %T") %>
          </span>
          
          <hr>

        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

  
