%p#post-title-label
  = f.label t('post.title')
  %br
  = f.text_area :title

%p#post-text-label
  = f.label t('post.text')
  %br
  = f.text_area :text

%p#post-new-submit
  = f.submit t('post.submit')