= link_to 'Create tags', new_tag_path 
%h2 Listing your posts
#your-posts-index-table
  %table
    %tr
      %th{:width => "120px"} Title
      %th{:width => "120px"} Text
      %th{:width => "150px"} Created at
      %th{:colspan => "2"}

    - @posts.each do |post|
      %tr
        %td{:width => "100px"} 
          %span#post-index-table-title
          - if post.title.length > 17
            = post.title[0..14] + "..."
          - else
            = post.title

        %td{:width => "100px"}
          - if post.text.length > 17
            = post.text[0..14] + "..."
          - else
            = post.text
        %td{:width => "150px"}= post.user.created_at.strftime("%d %b. %Y %T")
        %td{:width => "20px"}= link_to 'Show', user_post_path(current_user, post[:id])
        %td{:width => "20px"}= link_to 'Edit', edit_user_post_path(current_user, post[:id])
        %td{:width => "20px"}= link_to 'Delete', user_post_path(current_user, post[:id]), method: :delete, data: { confirm: 'Are you sure?' }