%h2 Listing your posts
#your_posts_index_table
  %table
    %tr
      %th Title
      %th Text
      %th Created at
      %th{:colspan => "2"}

    - @posts.each do |post|
      %tr
        %td 
          %span#post_index_table_title= post.title[0..20] + "..."
        %td= post.text[0..20] + "..."
        %td= post.user.created_at.strftime("%d %b. %Y %T")
        %td= link_to 'Show', user_post_path(current_user, post[:id])
        %td= link_to 'Edit', edit_user_post_path(current_user, post[:id])
        %td= link_to 'Delete', user_post_path(current_user, post[:id]), method: :delete, data: { confirm: 'Are you sure?' }