<div id="post_show_article">

  <h1><strong><%= @post.title %></strong></h1>
           <p><%= @post.text %></p>

  <hr>

  <span class="post_show_author">
    <strong>Author:</strong>
    <%= @post.user.email %>
  </span>

  <span class="post_show_created_at">
    <strong>Created at:</strong>
    <%= @post.created_at.strftime("%d %b. %Y %T") %>
  </span>

  <hr>

  <div id="post_show_buttons">
    <% if user_signed_in? %>
      <% if current_user.id == @post.user_id %>
        <%= link_to 'Edit', edit_user_post_path(@post.user_id, @post.id) %>
        <%= link_to 'Delete', user_post_path(@post.user_id, @post.id),
                     method: :delete, 
                     data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>
  </div>

</div>

<div class="post_show_comments">

  <h2>Comments:</h2>
  <% @post.comments.each do |comment| %>
    <p id="show_comment_user_date">
      <em>
        <span id="comment_user_email"><%= comment.user.email %></span>
        <%= comment.created_at.strftime("%d %b. %Y %T") %>
      </em>

      <% if user_signed_in? %>
        <% if current_user.id == comment.user.id %>
          <%= link_to 'Edit', edit_user_post_comment_path(comment.user_id, comment.post.id, comment.id) %>
          <%= link_to 'Delete', [current_user, comment.post, comment],
                       method: :delete,
                       data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>

      <div id="post_show_comment"><%= comment.body %></div>
    </p>
  <% end %>

  <% if user_signed_in? %>
    <p id="leave_comment">Leave your comment:</p>
    
    <%= render :template => 'comments/new' %>

  <% else %>
    <p id="to_leave_comments"><%= render text: 'To leave comments please sign in' %><p>
  <% end %>
</div>