<!DOCTYPE html>
%html
  %head
    %title Applic
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  
  %body
    #wrapper
      %p
        - unless user_signed_in?
          = link_to 'Show all posts', root_url
        
      #layout-header
        - if user_signed_in?
          %p#signed-in-as Signed in as 
          %span#user-name= current_user.email
          = link_to '(Edit profile)', edit_user_registration_path
          Not you?

          = link_to "Sign out", destroy_user_session_path, :method => :delete
          %br

          %p
            - flash.each do |name, msg|
              = content_tag :div, msg, :id => "flash_#{name}"

          .layout-top-buttons
            = link_to 'Create new post', new_user_post_path(current_user)
            = link_to 'View your posts', user_posts_path(current_user.id)
            = link_to 'Show all posts', root_url
            = link_to 'Show all tags',  tags_path

        - else
          = link_to "Sign up", new_user_registration_path 
          or 
          = link_to "sign in", new_user_session_path
          %ul
            %li= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
            
      = yield
